#experience{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

.heading{
    font-size: larger;
}

.pop-up{
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    height: fit-content;
    color: black;
    border: 3px solid black;
    padding: 2%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.714);
    border-radius: 2px;
}

.item{
    /* border: 1px solid black; */
    color: aliceblue;
    display: block;
}

/*Heading*/
.item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: start;
}

/*Content*/
.item2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 2px;
}
/*Project Link*/
.item3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content:center;
    align-items: center;
}

/*Project Image*/
.item4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;

    justify-content: center;

    align-items: center;
}

/*Exit*/
.item5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    align-items: end;
    justify-content:center;
}
.the-exit-button{
    height: 50%;
}


